---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    university_towns = open("university_towns.txt", "r")
    
    university_towns_df = pd.DataFrame(columns = ["State", "RegionName"])
    
    lines = university_towns.readlines()
    for i in range(0, len(lines)):
        line = lines[i]
        if "[edit]" in line:
            state = line
            x = line
            regionName = lines[i+1]
            university_towns_df.loc[i] = [state, regionName]
    
        else:
            regionName = line
            state = x
            university_towns_df.loc[i] = [state, regionName]
    
    university_towns_df.drop_duplicates(subset = "RegionName", keep = "first", inplace = True)
    
    university_towns_df = university_towns_df.reset_index(drop = True)
    
    university_towns_df['State'] = university_towns_df['State'].str.split('[', 1).str[0]
    university_towns_df['RegionName'] = university_towns_df['RegionName'].str.split('(', 1).str[0]
    university_towns_df['RegionName'] = university_towns_df['RegionName'].str.rstrip()

    return university_towns_df
   
    
    
get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    recession_start_df = pd.read_excel('gdplev.xls', skiprows=5, usecols = [4,5,6]).drop([0,1], axis=0).drop(['GDP in billions of current dollars.1'], axis = 1).reset_index(drop=True)
    
    recession_start_df = recession_start_df.rename(columns = {'Unnamed: 4': 'YearQ', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'})
    
    recession_start_df = recession_start_df[~recession_start_df.YearQ.str.startswith("19")]
    
    for i, j in recession_start_df.iterrows():
        if (recession_start_df.loc[i+1, "GDP in billions of chained 2009 dollars" ] - recession_start_df.loc[i, "GDP in billions of chained 2009 dollars"] < 0) & (recession_start_df.loc[i+2, "GDP in billions of chained 2009 dollars" ] - recession_start_df.loc[i+1, "GDP in billions of chained 2009 dollars"] < 0):
            break
    return recession_start_df.loc[i+1, "YearQ"]

get_recession_start()

'2008q3'

In [6]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    recession_end_df = pd.read_excel('gdplev.xls', skiprows=5, usecols = [4,5,6]).drop([0,1], axis=0).drop(['GDP in billions of current dollars.1'], axis = 1).reset_index(drop=True)
    
    recession_end_df = recession_end_df.rename(columns = {'Unnamed: 4': 'YearQ', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'})
    
    recession_end_df = recession_end_df[~recession_end_df.YearQ.str.startswith("19")]
    
    for i, j in recession_end_df.iterrows():
        if (recession_end_df.loc[i+1, "GDP in billions of chained 2009 dollars" ] - recession_end_df.loc[i, "GDP in billions of chained 2009 dollars"] < 0) & (recession_end_df.loc[i+2, "GDP in billions of chained 2009 dollars" ] - recession_end_df.loc[i+1, "GDP in billions of chained 2009 dollars"] < 0):
            x = i
            break
            
    for a, b in recession_end_df.loc[x:].iterrows():
        if (recession_end_df.loc[a+1, "GDP in billions of chained 2009 dollars" ] - recession_end_df.loc[a, "GDP in billions of chained 2009 dollars"] > 0) & (recession_end_df.loc[a+2, "GDP in billions of chained 2009 dollars" ] - recession_end_df.loc[a+1, "GDP in billions of chained 2009 dollars"] > 0):
            break
    return recession_end_df.loc[a+2, "YearQ"]

get_recession_end()

'2009q4'

In [7]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    recession_bottom_df = pd.read_excel('gdplev.xls', skiprows=5, usecols = [4,5,6]).drop([0,1], axis=0).drop(['GDP in billions of current dollars.1'], axis = 1).reset_index(drop=True)
    
    recession_bottom_df = recession_bottom_df.rename(columns = {'Unnamed: 4': 'YearQ', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'})
    
    recession_bottom_df = recession_bottom_df[~recession_bottom_df.YearQ.str.startswith("19")]
    
    for i, j in recession_bottom_df.iterrows():
        if (recession_bottom_df.loc[i+1, "GDP in billions of chained 2009 dollars" ] - recession_bottom_df.loc[i, "GDP in billions of chained 2009 dollars"] < 0) & (recession_bottom_df.loc[i+2, "GDP in billions of chained 2009 dollars" ] - recession_bottom_df.loc[i+1, "GDP in billions of chained 2009 dollars"] < 0):
            x = i
            break
            
    for a, b in recession_bottom_df.loc[x:].iterrows():
        if (recession_bottom_df.loc[a+1, "GDP in billions of chained 2009 dollars" ] - recession_bottom_df.loc[a, "GDP in billions of chained 2009 dollars"] > 0) & (recession_bottom_df.loc[a+2, "GDP in billions of chained 2009 dollars" ] - recession_bottom_df.loc[a+1, "GDP in billions of chained 2009 dollars"] > 0):
            y= a + 2
            break
            
    recession_bottom_df = recession_bottom_df.loc[x:y]
    
    x = recession_bottom_df["GDP in billions of chained 2009 dollars"].idxmin()
    
    ANSWER = recession_bottom_df.loc[x]['YearQ']
    
    return ANSWER

get_recession_bottom()

'2009q2'

In [8]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    
    housing_data_quarters_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    
    housing_data_quarters_df = housing_data_quarters_df.loc[:, ~housing_data_quarters_df.columns.str.startswith("19")].drop(['RegionID', "Metro", "CountyName", "SizeRank"], axis = 1) #drop unnecesary columns
    
    housing_data_quarters_df['State'] = housing_data_quarters_df['State'].replace(states)
    
    housing_data_quarters_df = housing_data_quarters_df.set_index(['State', 'RegionName'])
    
    housing_data_quarters_df["2016-09"]=0
    
    housing_data_quarters_df2 = housing_data_quarters_df.drop(housing_data_quarters_df.columns, axis=1)
    
    i= 3
    while i < 202: 
        x = str(((i/3)-1))
        housing_data_quarters_df2[x] = (((housing_data_quarters_df.iloc[:, i-3])+(housing_data_quarters_df.iloc[:, i-2])+(housing_data_quarters_df.iloc[:, i-1]))/3)
        i+=3
        
    housing_data_quarters_df3 = pd.read_excel('gdplev.xls', skiprows=5, usecols = [4,5,6]).drop([0,1], axis=0).drop(['GDP in billions of current dollars.1'], axis = 1).reset_index(drop=True)
    
    housing_data_quarters_df3 = housing_data_quarters_df3.rename(columns = {'Unnamed: 4': 'YearQ', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'})
    
    housing_data_quarters_df3 = housing_data_quarters_df3[~housing_data_quarters_df3.YearQ.str.startswith("19")]
    
    housing_data_quarters_df3.loc[66, "YearQ"] = "2016q3"
    
    housing_data_quarters_df3 = housing_data_quarters_df3.reset_index(drop = True)
        
    housing_data_quarters_df2.columns = housing_data_quarters_df3["YearQ"].tolist()
    
    
    return housing_data_quarters_df2.head(50)


convert_housing_data_to_quarters()

                                              2000q1         2000q2  \
State                RegionName
New York             New York                    NaN            NaN
California           Los Angeles       207066.666667  214466.666667
Illinois             Chicago           138400.000000  143633.333333
Pennsylvania         Philadelphia       53000.000000   53633.333333
Arizona              Phoenix           111833.333333  114366.666667
Nevada               Las Vegas         132600.000000  134366.666667
California           San Diego         222900.000000  234366.666667
Texas                Dallas             84466.666667   83866.666667
California           San Jose          374266.666667  406566.666667
Florida              Jacksonville       88600.000000   89700.000000
California           San Francisco     430500.000000  464466.666667
Texas                Austin            142966.666667  145266.666667
Michigan             Detroit            66166.666667   68300.000000
Ohio                 Columbus           94366.666667   95833.333333
Tennessee            Memphis            72500.000000   73200.000000
North Carolina       Charlotte         126933.333333  128366.666667
Texas                El Paso            76266.666667   76866.666667
Massachusetts        Boston            206933.333333  219166.666667
Washington           Seattle           248600.000000  255600.000000
Maryland             Baltimore          59666.666667   59500.000000
Colorado             Denver            162233.333333  167833.333333
District of Columbia Washington        137766.666667  144200.000000
Tennessee            Nashville         113833.333333  115266.666667
Wisconsin            Milwaukee          78033.333333   79066.666667
Arizona              Tucson            101833.333333  102966.666667
Oregon               Portland          152800.000000  154766.666667
Oklahoma             Oklahoma City      76433.333333   77500.000000
Nebraska             Omaha             112800.000000  114100.000000
New Mexico           Albuquerque       125866.666667  126700.000000
California           Fresno             94100.000000   95266.666667
                     Sacramento        122433.333333  126000.000000
Arizona              Mesa              119633.333333  121100.000000
California           Long Beach        198233.333333  204833.333333
Missouri             Kansas City       120233.333333  124300.000000
Virginia             Virginia Beach    119400.000000  121100.000000
Colorado             Colorado Springs  145266.666667  148066.666667
Georgia              Atlanta           143566.666667  147966.666667
Florida              Miami             122666.666667  123233.333333
California           Oakland           205066.666667  223433.333333
Oklahoma             Tulsa              73866.666667   75166.666667
Ohio                 Cleveland          67466.666667   67933.333333
Hawaii               Honolulu          252866.666667  252200.000000
Minnesota            Minneapolis       117366.666667  122333.333333
Louisiana            New Orleans                 NaN            NaN
Texas                Arlington         103766.666667  103233.333333
North Carolina       Raleigh           149333.333333  150700.000000
Kansas               Wichita            85533.333333   87700.000000
Florida              Tampa              79100.000000   81433.333333
California           Anaheim           213833.333333  223000.000000
                     Santa Ana         180033.333333  186833.333333

                                              2000q3         2000q4  \
State                RegionName
New York             New York                    NaN            NaN
California           Los Angeles       220966.666667  226166.666667
Illinois             Chicago           147866.666667  152133.333333
Pennsylvania         Philadelphia       54133.333333   54700.000000
Arizona              Phoenix           116000.000000  117400.000000
Nevada               Las Vegas         135400.000000  137000.000000
California           San Diego         245433.333333  256033.333333
Texas                Dallas             84866.666667   87833.333333
California           San Jose          431866.666667  455500.000000
Florida              Jacksonville       91700.000000   93100.000000
California           San Francisco     483533.333333  493000.000000
Texas                Austin            149466.666667  155733.333333
Michigan             Detroit            66766.666667   67033.333333
Ohio                 Columbus           97133.333333   98266.666667
Tennessee            Memphis            73866.666667   74000.000000
North Carolina       Charlotte         130200.000000  131566.666667
Texas                El Paso            76733.333333   77300.000000
Massachusetts        Boston            233100.000000  242500.000000
Washington           Seattle           262533.333333  267400.000000
Maryland             Baltimore          58833.333333   59500.000000
Colorado             Denver            174333.333333  180333.333333
District of Columbia Washington        148700.000000  147700.000000
Tennessee            Nashville         115866.666667  116933.333333
Wisconsin            Milwaukee          81033.333333   82333.333333
Arizona              Tucson            104466.666667  105666.666667
Oregon               Portland          156566.666667  157466.666667
Oklahoma             Oklahoma City      78566.666667   79166.666667
Nebraska             Omaha             116733.333333  118900.000000
New Mexico           Albuquerque       126433.333333  126733.333333
California           Fresno             96466.666667   98233.333333
                     Sacramento        129466.666667  134600.000000
Arizona              Mesa              122300.000000  123566.666667
California           Long Beach        211966.666667  216400.000000
Missouri             Kansas City       127666.666667  130766.666667
Virginia             Virginia Beach    122666.666667  124166.666667
Colorado             Colorado Springs  150466.666667  153733.333333
Georgia              Atlanta           151266.666667  153933.333333
Florida              Miami             126833.333333  130333.333333
California           Oakland           241400.000000  256166.666667
Oklahoma             Tulsa              76300.000000   77166.666667
Ohio                 Cleveland          68300.000000   68700.000000
Hawaii               Honolulu          254133.333333  256733.333333
Minnesota            Minneapolis       128666.666667  134233.333333
Louisiana            New Orleans                 NaN            NaN
Texas                Arlington         103300.000000  103633.333333
North Carolina       Raleigh           151366.666667  151500.000000
Kansas               Wichita            89866.666667   90266.666667
Florida              Tampa              82800.000000   84033.333333
California           Anaheim           229866.666667  237500.000000
                     Santa Ana         194900.000000  201033.333333

                                              2001q1         2001q2  \
State                RegionName
New York             New York                    NaN            NaN
California           Los Angeles       233000.000000  239100.000000
Illinois             Chicago           156933.333333  161800.000000
Pennsylvania         Philadelphia       55333.333333   55533.333333
Arizona              Phoenix           119600.000000  121566.666667
Nevada               Las Vegas         139533.333333  141733.333333
California           San Diego         267200.000000  276266.666667
Texas                Dallas             89733.333333   89300.000000
California           San Jose          470666.666667  470200.000000
Florida              Jacksonville       94400.000000   95600.000000
California           San Francisco     494066.666667  496133.333333
Texas                Austin            161233.333333  160733.333333
Michigan             Detroit            67500.000000   68366.666667
Ohio                 Columbus           99400.000000  100266.666667
Tennessee            Memphis            74166.666667   74933.333333
North Carolina       Charlotte         132933.333333  133200.000000
Texas                El Paso            78233.333333   78300.000000
Massachusetts        Boston            249600.000000  257066.666667
Washington           Seattle           271000.000000  272433.333333
Maryland             Baltimore          59566.666667   60133.333333
Colorado             Denver            186500.000000  192533.333333
District of Columbia Washington        149766.666667  155133.333333
Tennessee            Nashville         118033.333333  119166.666667
Wisconsin            Milwaukee          84033.333333   85566.666667
Arizona              Tucson            107200.000000  108766.666667
Oregon               Portland          159900.000000  161800.000000
Oklahoma             Oklahoma City      79833.333333   80400.000000
Nebraska             Omaha             120866.666667  119766.666667
New Mexico           Albuquerque       127100.000000  127733.333333
California           Fresno            100566.666667  103566.666667
                     Sacramento        141166.666667  148933.333333
Arizona              Mesa              125333.333333  126533.333333
California           Long Beach        221333.333333  227233.333333
Missouri             Kansas City       133700.000000  136366.666667
Virginia             Virginia Beach    125700.000000  128233.333333
Colorado             Colorado Springs  156533.333333  159933.333333
Georgia              Atlanta           158533.333333  162100.000000
Florida              Miami             133900.000000  138600.000000
California           Oakland           270200.000000  277766.666667
Oklahoma             Tulsa              78466.666667   79566.666667
Ohio                 Cleveland          68933.333333   69233.333333
Hawaii               Honolulu          259433.333333  264966.666667
Minnesota            Minneapolis       140600.000000  146633.333333
Louisiana            New Orleans                 NaN            NaN
Texas                Arlington         104433.333333  105933.333333
North Carolina       Raleigh           151900.000000  152333.333333
Kansas               Wichita            92400.000000   96166.666667
Florida              Tampa              86100.000000   87566.666667
California           Anaheim           243800.000000  249533.333333
                     Santa Ana         208900.000000  217166.666667

                                              2001q3         2001q4  \
State                RegionName
New York             New York                    NaN            NaN
California           Los Angeles       245066.666667  253033.333333
Illinois             Chicago           166400.000000  170433.333333
Pennsylvania         Philadelphia       56266.666667   57533.333333
Arizona              Phoenix           122700.000000  124300.000000
Nevada               Las Vegas         143366.666667  146133.333333
California           San Diego         284500.000000  291933.333333
Texas                Dallas             89066.666667   90900.000000
California           San Jose          456800.000000  445566.666667
Florida              Jacksonville       97066.666667   99066.666667
California           San Francisco     504100.000000  513400.000000
Texas                Austin            159533.333333  160033.333333
Michigan             Detroit            69266.666667   69966.666667
Ohio                 Columbus          101066.666667  102200.000000
Tennessee            Memphis            75500.000000   76066.666667
North Carolina       Charlotte         132800.000000  133100.000000
Texas                El Paso            77433.333333   76800.000000
Massachusetts        Boston            266933.333333  274966.666667
Washington           Seattle           274166.666667  278166.666667
Maryland             Baltimore          62100.000000   63400.000000
Colorado             Denver            196400.000000  199100.000000
District of Columbia Washington        164633.333333  172533.333333
Tennessee            Nashville         120100.000000  120800.000000
Wisconsin            Milwaukee          87066.666667   88400.000000
Arizona              Tucson            110566.666667  112800.000000
Oregon               Portland          164266.666667  167766.666667
Oklahoma             Oklahoma City      81133.333333   81733.333333
Nebraska             Omaha             117866.666667  117400.000000
New Mexico           Albuquerque       128566.666667  129900.000000
California           Fresno            107233.333333  110300.000000
                     Sacramento        156600.000000  162400.000000
Arizona              Mesa              127300.000000  128566.666667
California           Long Beach        233266.666667  239300.000000
Missouri             Kansas City       138766.666667  140433.333333
Virginia             Virginia Beach    130566.666667  132866.666667
Colorado             Colorado Springs  162966.666667  165333.333333
Georgia              Atlanta           163200.000000  164666.666667
Florida              Miami             144266.666667  150833.333333
California           Oakland           282533.333333  290366.666667
Oklahoma             Tulsa              80433.333333   81300.000000
Ohio                 Cleveland          69566.666667   69966.666667
Hawaii               Honolulu          271200.000000  274700.000000
Minnesota            Minneapolis       151566.666667  155900.000000
Louisiana            New Orleans                 NaN            NaN
Texas                Arlington         107766.666667  109833.333333
North Carolina       Raleigh           152200.000000  153000.000000
Kansas               Wichita            98366.666667  101033.333333
Florida              Tampa              89800.000000   91800.000000
California           Anaheim           256200.000000  263933.333333
                     Santa Ana         225200.000000  234133.333333

                                              2002q1         2002q2  ...  \
State                RegionName                                      ...
New York             New York                    NaN            NaN  ...
California           Los Angeles       261966.666667  272700.000000  ...
Illinois             Chicago           175500.000000  177566.666667  ...
Pennsylvania         Philadelphia       59133.333333   60733.333333  ...
Arizona              Phoenix           126533.333333  128366.666667  ...
Nevada               Las Vegas         149333.333333  150933.333333  ...
California           San Diego         301233.333333  312866.666667  ...
Texas                Dallas             92566.666667   93800.000000  ...
California           San Jose          441433.333333  457766.666667  ...
Florida              Jacksonville      101233.333333  103433.333333  ...
California           San Francisco     520433.333333  538166.666667  ...
Texas                Austin            158966.666667  157500.000000  ...
Michigan             Detroit            71000.000000   72333.333333  ...
Ohio                 Columbus          103400.000000  104800.000000  ...
Tennessee            Memphis            76333.333333   76766.666667  ...
North Carolina       Charlotte         134366.666667  135366.666667  ...
Texas                El Paso            76600.000000   76400.000000  ...
Massachusetts        Boston            282500.000000  289300.000000  ...
Washington           Seattle           280500.000000  284600.000000  ...
Maryland             Baltimore          63666.666667   64900.000000  ...
Colorado             Denver            201233.333333  202433.333333  ...
District of Columbia Washington        180500.000000  193300.000000  ...
Tennessee            Nashville         121566.666667  122633.333333  ...
Wisconsin            Milwaukee          89533.333333   91366.666667  ...
Arizona              Tucson            115000.000000  117200.000000  ...
Oregon               Portland          170766.666667  174133.333333  ...
Oklahoma             Oklahoma City      82600.000000   83433.333333  ...
Nebraska             Omaha             118066.666667  117633.333333  ...
New Mexico           Albuquerque       131066.666667  132100.000000  ...
California           Fresno            114033.333333  118533.333333  ...
                     Sacramento        168433.333333  175566.666667  ...
Arizona              Mesa              130500.000000  132266.666667  ...
California           Long Beach        248633.333333  259866.666667  ...
Missouri             Kansas City       142500.000000  143766.666667  ...
Virginia             Virginia Beach    136666.666667  139400.000000  ...
Colorado             Colorado Springs  166966.666667  167566.666667  ...
Georgia              Atlanta           165733.333333  167100.000000  ...
Florida              Miami             157000.000000  161433.333333  ...
California           Oakland           296433.333333  308066.666667  ...
Oklahoma             Tulsa              81533.333333   82033.333333  ...
Ohio                 Cleveland          70566.666667   71233.333333  ...
Hawaii               Honolulu          280433.333333  286366.666667  ...
Minnesota            Minneapolis       160200.000000  164566.666667  ...
Louisiana            New Orleans                 NaN            NaN  ...
Texas                Arlington         111600.000000  112900.000000  ...
North Carolina       Raleigh           153666.666667  154966.666667  ...
Kansas               Wichita           100300.000000   97033.333333  ...
Florida              Tampa              94500.000000   97233.333333  ...
California           Anaheim           274100.000000  286100.000000  ...
                     Santa Ana         243100.000000  253566.666667  ...

                                              2014q2         2014q3  \
State                RegionName
New York             New York          515466.666667  522800.000000
California           Los Angeles       498033.333333  509066.666667
Illinois             Chicago           192633.333333  195766.666667
Pennsylvania         Philadelphia      113733.333333  115300.000000
Arizona              Phoenix           164266.666667  165366.666667
Nevada               Las Vegas         170066.666667  173400.000000
California           San Diego         480200.000000  489033.333333
Texas                Dallas            106633.333333  108900.000000
California           San Jose          679400.000000  697033.333333
Florida              Jacksonville      120766.666667  121733.333333
California           San Francisco     926933.333333  954533.333333
Texas                Austin            248866.666667  252800.000000
Michigan             Detroit            37300.000000   37100.000000
Ohio                 Columbus          103133.333333  104500.000000
Tennessee            Memphis            68100.000000   69100.000000
North Carolina       Charlotte         149466.666667  150633.333333
Texas                El Paso           111800.000000  111733.333333
Massachusetts        Boston            426666.666667  431433.333333
Washington           Seattle           441800.000000  451500.000000
Maryland             Baltimore         109233.333333  109533.333333
Colorado             Denver            270866.666667  277500.000000
District of Columbia Washington        446933.333333  453000.000000
Tennessee            Nashville         160700.000000  162300.000000
Wisconsin            Milwaukee          92166.666667   92166.666667
Arizona              Tucson            142466.666667  143433.333333
Oregon               Portland          282233.333333  287266.666667
Oklahoma             Oklahoma City     118033.333333  118966.666667
Nebraska             Omaha             130100.000000  130300.000000
New Mexico           Albuquerque       163266.666667  164000.000000
California           Fresno            169633.333333  173600.000000

In [9]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
   
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    pd.set_option('display.max_colwidth', -1)
    
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

    
    housing_data_quarters_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    
    housing_data_quarters_df = housing_data_quarters_df.loc[:, ~housing_data_quarters_df.columns.str.startswith("19")].drop(['RegionID', "Metro", "CountyName", "SizeRank"], axis = 1) #drop unnecesary columns
    
    housing_data_quarters_df['State'] = housing_data_quarters_df['State'].replace(states)
    
    housing_data_quarters_df = housing_data_quarters_df.set_index(['State', 'RegionName'])
    
    housing_data_quarters_df["2016-09"]=0
    
    housing_data_quarters_df2 = housing_data_quarters_df.drop(housing_data_quarters_df.columns, axis=1)
    
    i= 3
    while i < 202: 
        x = str(((i/3)-1))
        housing_data_quarters_df2[x] = (((housing_data_quarters_df.iloc[:, i-3])+(housing_data_quarters_df.iloc[:, i-2])+(housing_data_quarters_df.iloc[:, i-1]))/3)
        i+=3
        
    housing_data_quarters_df3 = pd.read_excel('gdplev.xls', skiprows=5, usecols = [4,5,6]).drop([0,1], axis=0).drop(['GDP in billions of current dollars.1'], axis = 1).reset_index(drop=True)
    
    housing_data_quarters_df3 = housing_data_quarters_df3.rename(columns = {'Unnamed: 4': 'YearQ', 'GDP in billions of chained 2009 dollars.1': 'GDP in billions of chained 2009 dollars'})
    
    housing_data_quarters_df3 = housing_data_quarters_df3[~housing_data_quarters_df3.YearQ.str.startswith("19")]
    
    housing_data_quarters_df3.loc[66, "YearQ"] = "2016q3"
    
    housing_data_quarters_df3 = housing_data_quarters_df3.reset_index(drop = True)
        
    housing_data_quarters_df2.columns = housing_data_quarters_df3["YearQ"].tolist()
    
    housing_price_recession_decline = pd.DataFrame(housing_data_quarters_df2["2009q2"] - housing_data_quarters_df2["2008q2"])
  
    housing_price_recession_decline.columns = ['Housing Price Decline During Recession']
    
    university_towns = open("university_towns.txt", "r")
    
    university_towns_df = pd.DataFrame(columns = ["State", "RegionName"])
    
    lines = university_towns.readlines()
    for i in range(0, len(lines)):
        line = lines[i]
        if "[edit]" in line:
            state = line
            x = line
            regionName = lines[i+1]
            university_towns_df.loc[i] = [state, regionName]
    
        else:
            regionName = line
            state = x
            university_towns_df.loc[i] = [state, regionName]
    
    university_towns_df.drop_duplicates(subset = "RegionName", keep = "first", inplace = True)
    
    university_towns_df = university_towns_df.reset_index(drop = True)
    
    university_towns_df['State'] = university_towns_df['State'].str.split('[', 1).str[0]
    university_towns_df['RegionName'] = university_towns_df['RegionName'].str.split('(', 1).str[0]
    
    university_cities = university_towns_df['RegionName'].str.rstrip().values.tolist()
    
   # housing_price_recession_decline[city] = 
    
    university_towns_housing_price_recession_decline = housing_price_recession_decline[housing_price_recession_decline.index.get_level_values('RegionName').isin(university_cities)]
    
    not_university_towns_housing_price_recession_decline = housing_price_recession_decline[~housing_price_recession_decline.index.get_level_values('RegionName').isin(university_cities)]
    
    ttest = ttest_ind(university_towns_housing_price_recession_decline.dropna()['Housing Price Decline During Recession'], not_university_towns_housing_price_recession_decline.dropna()['Housing Price Decline During Recession'])
    
    different = False
    if ttest.statistic != 0 and ttest.pvalue < 0.01:
        different = True
        pvalue = ttest.pvalue
        
        if ttest.statistic > 0:
            better = "university town"
        else:
            better = "non-university town"
    
    return  (different, pvalue, better)

    
run_ttest()

(True, 1.1693116003332356e-06, 'university town')